b@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
  background-color: #eee;
}
p {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em
}
p {
  border: solid rgb(119, 114, 114)
   
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
     color: rgb(68, 177, 140);
}
li {
  display: inline-block;
  text-align: center;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em  

}


h2 {
  text-align: center;
  font-size: 35px;
}
 header {
  text-align: center;
  font-style: Abril Fatface;
 }

 p {
  font-syle: "Source Sans Pro";
 }

img {  
  padding-left: 14em
  }

p {
  box-shadow: 22px 22px;
  background-color: #dddd;
  width: 700px
  margin-top: 2em;
  margin-right: 
}

h5, h4 {
  font-size: 25px
}

p.a {
  font-family: "Times New Roman", Times, serif
}

